@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark-600;
  @apply text-primary-500;
  @apply font-roboto;
  @apply overflow-hidden;
}

#__next {
  height: 100vh;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

.scrollbar {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: theme("colors.secondary.600") theme("colors.dark.800");
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
}
.scrollbar::-webkit-scrollbar-track {
  background: theme("colors.dark.800");
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: theme("colors.secondary.600");
  border-radius: 20px;
  border: 3px solid theme("colors.dark.800");
}
